<footer>
    <img id="image" src="/static/images/songs/original.jpg">
    <div id="title_artist">
        <span class="title" id="title">H.O.L.Y</span>
        <span class="artist" id="artist">Florida</span>
    </div>
    <div id="center">
        <div id="controls">
            <svg id="rewind" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" style="fill: #33AAFF">
                <path d="M11 18V6l-8.5 6 8.5 6zm.5-6l8.5 6V6l-8.5 6z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <svg id="play" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" style="fill: #E1E4E6">
                <path d="M8 5v14l11-7z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <svg id="forward" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" style="fill: #33AAFF">
                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
        </div>
        <div>
            <input id="slider_song_length" type="range" min="0" value="0.01" step="0.01">
            <div id="start_length">0:00</div>
            <div id="end_length">0:00</div>
        </div>
    </div>
    <div id="sound">
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" style="fill: #33AAFF">
            <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <input id="volume" type="range" min="0" step="1" max="100" value="75">
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      init();
    });

function init() {
    slider_song_length = document.querySelector('#slider_song_length');
    volume = document.querySelector('#volume');
    volume.value=getCookie(getCookie('user')+'/volume');
    slider_song();
    controls();
    content();
    var timer = setInterval(value_of_slider(slider_song_length,1000))
    }

    function content() {
        img_cookie = getCookie("image");
        artist_cookie = getCookie("artist");
        artist_cookie = String(artist_cookie).substring(0,25);
        title_cookie = getCookie("title");
        title_cookie = String(title_cookie.substring(0,20));
        img = document.querySelector("#image");
        title = document.querySelector("#title");
        artist= document.querySelector("#artist");

        img.setAttribute("src", "/static/images/songs/" + img_cookie);
        title.innerHTML = title_cookie.replace('\"','').replace('\"',"");
        artist.innerHTML = artist_cookie.replace('\"',"").replace('\"',"");
    }

    function slider_song (){
        var max_lengte = getCookie('length');
        var current_length = getCookie('current length');
        slider_song_length.addEventListener("input", function(){
          value_of_slider(slider_song_length);
        });

        slider_song_length.setAttribute('max',(parseInt(max_lengte.replace(":",""),10)/100));
        slider_song_length.setAttribute('value',(current_length));
        end_length = document.querySelector('#end_length').innerHTML = max_lengte;
        start_length = document.querySelector('#start_length').innerHTML = (parseFloat(Math.round(current_length * 100) / 100).toFixed(2)).replace(".",":");
    }

    function value_of_slider(id) {
        start_length = document.querySelector('#start_length').innerHTML = (id.value);
        setCookie('current length', start_length, 1)
    }

    function min_sec(time) {
        var sec = Math.ceil((time*100)%60)/100;
        var min = parseInt((Math.floor(time*100)/60),10);
        return (min+sec).toFixed(2)
    }

    function controls () {
        forward = document.querySelector('#forward');
        rewind = document.querySelector('#rewind');
        play = document.querySelector('#play');
        volume = document.querySelector('#volume');

        forward.addEventListener('click', function () {
            print();
        });
        rewind.addEventListener('click', function () {
            print();
        });
        play.addEventListener('click', function () {
            change_image();
        });

        volume.addEventListener('change', function () {
        volume_change(volume);
        } );
    }

    function volume_change(id) {
    setCookie(getCookie('user')+'/volume',id.value,10);
    }

    function print() {
        console.info("test");
    }

    function change_image() {
        paths = (document.querySelector("#play").getElementsByTagName('path'));
        console.info(paths[1]);
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>